# Plain old documentation
name: "Pod"
scopeName: "text.pod"
patterns: [
	{include: "#commands"}
	{include: "#verbatim"}
	{include: "#paragraph"}
]

repository:

	# B<Emboldened text>
	bold:
		name:  "entity.name.type.instance.pod"
		begin: "B(<)"
		end:   "(>)|^(?==)"
		beginCaptures:
			0: name: "entity.name.inline.tag.begin.bold.pod"
			1: name: "punctuation.definition.style.bold.begin.pod"
		endCaptures:
			0: name: "entity.name.inline.tag.end.bold.pod"
			1: name: "punctuation.definition.style.bold.end.pod"
		patterns: [{
			contentName: "markup.bold.pod"
			begin: "\\G(?!<)"
			end:   "(?=>)"
			patterns: [include: "#inlineTags"]
		}, include: "#boldBrackets"]


	# B<<<< … >>>>
	boldBrackets:
		begin: "\\G(<)(?=<|\\s)"
		end:   "(?<=\\s|>)(>)"
		beginCaptures:
			0: name: "entity.name.inline.tag.begin.bold.pod"
			1: name: "punctuation.definition.style.bold.begin.pod"
		endCaptures:
			0: name: "entity.name.inline.tag.end.bold.pod"
			1: name: "punctuation.definition.style.bold.end.pod"
		patterns: [{
			contentName: "markup.bold.pod"
			begin: "(?<=<)\\s"
			end: "\\s(?=>)"
			patterns: [include: "#inlineTags"]
		}, include: "#boldBrackets"]


	# Command paragraphs: =[…name]
	commands:
		patterns: [
			{include: "#heading"}
			{include: "#encoding"}
			{include: "#overhang"}
			{include: "#listItem"}
			{include: "#formatBlocks"}
			{include: "#formatLines"}
			{include: "#cut"}
			
			# Some other command not listed in perlpod(1)
			match: "^((=)\\S*)"
			captures:
				1: name: "keyword.control.other.command.pod"
				2: name: "punctuation.definition.command.pod"
		]


	# EOF marker: =cut
	cut:
		match: "^((=)cut)(?:\\s+\\S.*)?\\s*$"
		captures:
			1: name: "keyword.control.cut.pod"
			2: name: "punctuation.section.end.pod"


	# Embedded highlighting. Boundaries are clamped to stop runaway matches.
	embedHTML:
		name:  "text.embedded.html.basic"
		match: "(?:^|\\n|\\G)\\s*(\\S.*)$\\n?"
		captures:
			0: patterns: [include: "text.html.basic"]

	embedLatex:
		name:  "text.embedded.latex"
		match: "(?:^|\\n|\\G)\\s*(\\S.*)$\\n?"
		captures:
			0: patterns: [include: "text.tex.latex"]

	embedRoff:
		name:  "text.embedded.roff"
		match: "(?:^|\\n|\\G)\\s*(\\S.*)$\\n?"
		captures:
			0: patterns: [include: "text.roff"]

	embedTex:
		name:  "text.embedded.tex"
		match: "(?:^|\\n|\\G)\\s*(\\S.*)$\\n?"
		captures:
			0: patterns: [include: "text.tex"]

	embedText:
		name:  "text.embedded.plain"
		match: "(?:^|\\n|\\G)\\s*\\S.*$\\n?"


	# Document encoding: =encoding [name]
	encoding:
		match: "^((=)encoding)(?:\\s+(\\S.*)?)\\s*$"
		captures:
			1: name: "keyword.control.encoding.pod"
			2: name: "punctuation.definition.command.pod"
			3: name: "entity.name.type.instance.encoding-type.pod"


	# Character entity references; perlpod(1) calls them "escapes"
	entities:
		patterns: [{
			name:  "constant.character.entity.pod"
			begin: "(E(<))((?:Z<[^>]*>)*)"
			end:   "(\\s*)((?:Z<[^>]*>)*)((>))"
			beginCaptures:
				1: name: "entity.name.type.instance.pod"
				2: name: "punctuation.definition.entity.begin.pod"
				3: patterns: [include: "#zeroEffect"]
			endCaptures:
				1: name: "invalid.illegal.syntax.trailing.whitespace.pod"
				2: patterns: [include: "#zeroEffect"]
				3: name: "entity.name.type.instance.pod"
				4: name: "punctuation.definition.entity.end.pod"
			patterns: [
				{match: "lt",                      name: "entity.name.less-than.pod"}
				{match: "gt",                      name: "entity.name.greater-than.pod"}
				{match: "verbar",                  name: "entity.name.vertical-bar.pod"}
				{match: "sol",                     name: "entity.name.solidus.pod"}
				{match: "\\G((?![0-9])\\w+)(?=>)", name: "entity.name.html-name.pod"}
				{match: "\\G(0x[A-Fa-f0-9]+)",     name: "entity.name.codepoint.hex.pod"}
				{match: "\\G(0[0-9]+)",            name: "entity.name.codepoint.octal.pod"}
				{match: "\\G([1-9][0-9]*)",        name: "entity.name.codepoint.decimal.pod"}
				{match: "\\G\\s+",                 name: "invalid.illegal.syntax.leading.whitespace.pod"}
				{match: "\\s+",                    name: "invalid.illegal.syntax.whitespace.pod"}
				{match: "(?:[^\\s>Z]|Z(?!<))+",    name: "invalid.illegal.syntax.unknown-escape.pod"}
				
				# Highlight Z<> as invalid when surrounded by unexpected characters
				match: "(?:(Z(<)(>))|(Z<[^>]*>))(?!>)"
				captures:
					1: name: "invalid.illegal.escape.syntax.pod"
					2: name: "punctuation.definition.escape.begin.pod"
					3: name: "punctuation.definition.escape.end.pod"
					4: patterns: [include: "#zeroEffect"]
			]
		}, include: "#zeroEffect"]


	# Embedded region of text/code/data.
	#    =begin [format-name]
	#           [empty-line] …content… [empty-line]
	#    =end   [format-name]
	formatBlocks:
		patterns: [{
			# =begin html
			# <h1 class="etc">HTML source</h1>
			# =end html
			name:  "meta.embedded-html.format.block.pod"
			begin: "^((=)begin)\\s+(html)(?=\\s|$)"
			end:   "^((=)end)\\s+(html)|^(?==cut(?:\\s|$))"
			beginCaptures:
				1: name: "keyword.control.format.begin.pod"
				2: name: "punctuation.section.format.begin.pod"
				3: name: "entity.name.type.instance.pod"
			endCaptures:
				1: name: "keyword.control.format.end.pod"
				2: name: "punctuation.section.format.end.pod"
				3: name: "entity.name.type.instance.pod"
			patterns: [
				{include: "#ignoreUntilEmptyLine"}
				
				# Highlighted HTML
				name:  "meta.output.format.pod"
				begin: "(?<=^|\\n)(\\s*\\S.*\\s*)$\\n?"
				end:   "(?<=^|\\n)(?=\\s*$)"
				beginCaptures: 1: patterns: [include: "#embedHTML"]
				patterns:                   [include: "#embedHTML"]
			]
		},{
			# =begin [roff|man]
			# .de XS \\n(.X \" etc
			# =end [roff|man]
			name:  "meta.embedded-roff.format.block.pod"
			begin: "^((=)begin)\\s+(roff|man)(?=\\s|$)"
			end:   "^((=)end)\\s+(\\3)|^(?==cut(?:\\s|$))"
			beginCaptures:
				1: name: "keyword.control.format.begin.pod"
				2: name: "punctuation.section.format.begin.pod"
				3: name: "entity.name.type.instance.pod"
			endCaptures:
				1: name: "keyword.control.format.end.pod"
				2: name: "punctuation.section.format.end.pod"
				3: name: "entity.name.type.instance.pod"
			patterns: [
				{include: "#ignoreUntilEmptyLine"}
				
				# Highlighted Roff: https://github.com/Alhadis/language-roff
				name:  "meta.output.format.pod"
				begin: "(?<=^|\\n)(\\s*\\S.*\\s*)$\\n?"
				end:   "(?<=^|\\n)(?=\\s*$)"
				beginCaptures: 1: patterns: [include: "#embedRoff"]
				patterns:                   [include: "#embedRoff"]
			]
		},{
			# =begin latex
			# \{latex} LaTeX
			# =end latex
			name:  "meta.embedded-latex.format.block.pod"
			begin: "^((=)begin)\\s+(latex)(?=\\s|$)"
			end:   "^((=)end)\\s+(latex)|^(?==cut(?:\\s|$))"
			beginCaptures:
				1: name: "keyword.control.format.begin.pod"
				2: name: "punctuation.section.format.begin.pod"
				3: name: "entity.name.type.instance.pod"
			endCaptures:
				1: name: "keyword.control.format.end.pod"
				2: name: "punctuation.section.format.end.pod"
				3: name: "entity.name.type.instance.pod"
			patterns: [
				{include: "#ignoreUntilEmptyLine"}
				
				# Highlighted LaTeX
				name:  "meta.output.format.pod"
				begin: "(?<=^|\\n)(\\s*\\S.*\\s*)$\\n?"
				end:   "(?<=^|\\n)(?=\\s*$)"
				beginCaptures: 1: patterns: [include: "#embedLatex"]
				patterns:                   [include: "#embedLatex"]
			]
		},{
			# =begin tex
			# \mathcode`\+="202B  Plain old TeX?
			# =end tex
			name:  "meta.embedded-tex.format.block.pod"
			begin: "^((=)begin)\\s+(tex)(?=\\s|$)"
			end:   "^((=)end)\\s+(tex)|^(?==cut(?:\\s|$))"
			beginCaptures:
				1: name: "keyword.control.format.begin.pod"
				2: name: "punctuation.section.format.begin.pod"
				3: name: "entity.name.type.instance.pod"
			endCaptures:
				1: name: "keyword.control.format.end.pod"
				2: name: "punctuation.section.format.end.pod"
				3: name: "entity.name.type.instance.pod"
			patterns: [
				{include: "#ignoreUntilEmptyLine"}
				
				# Highlighted TeX
				name:  "meta.output.format.pod"
				begin: "(?<=^|\\n)(\\s*\\S.*\\s*)$\\n?"
				end:   "(?<=^|\\n)(?=\\s*$)"
				beginCaptures: 1: patterns: [include: "#embedTex"]
				patterns:                   [include: "#embedTex"]
			]
		},{
			# =begin text
			# Plain old text
			# =end text
			name:  "meta.embedded-text.format.block.pod"
			begin: "^((=)begin)\\s+(text)(?=\\s|$)"
			end:   "^((=)end)\\s+(text)|^(?==cut(?:\\s|$))"
			beginCaptures:
				1: name: "keyword.control.format.begin.pod"
				2: name: "punctuation.section.format.begin.pod"
				3: name: "entity.name.type.instance.pod"
			endCaptures:
				1: name: "keyword.control.format.end.pod"
				2: name: "punctuation.section.format.end.pod"
				3: name: "entity.name.type.instance.pod"
			patterns: [
				{include: "#ignoreUntilEmptyLine"}
				
				# Unhighlighted text
				name:  "meta.output.format.pod"
				begin: "(?<=^|\\n)(\\s*\\S.*)$\\n?"
				end:   "(?<=^|\\n)(?=\\s*$)"
				beginCaptures: 1: patterns: [include: "#embedText"]
				patterns:                   [include: "#embedText"]
			]
		},{
			# =begin :actualpod
			# Plain old Pod (Plain old plain old documentation)
			# =end :actualpod
			name:  "meta.embedded-pod.format.block.pod"
			match: "^((=)(begin|end))\\s+((:)\\S+)"
			captures:
				1: name: "keyword.control.format.$3.pod"
				2: name: "punctuation.section.format.$3.pod"
				4: name: "entity.name.type.instance.pod"
				5: name: "punctuation.separator.colon.format.pod"
		},{
			# =begin [unknown-format]
			# =end [unknown-format]
			name:  "meta.embedded-$3.format.block.other.pod"
			begin: "^((=)begin)\\s+((?!:)\\S+)"
			end:   "^((=)end)\\s+(\\3)|^(?==cut(?:\\s|$))"
			beginCaptures:
				1: name: "keyword.control.format.begin.pod"
				2: name: "punctuation.section.format.begin.pod"
				3: name: "entity.name.type.instance.pod"
			endCaptures:
				1: name: "keyword.control.format.end.pod"
				2: name: "punctuation.section.format.end.pod"
				3: name: "entity.name.type.instance.pod"
			contentName: "meta.output.format.pod"
		}]


	# Line of embedded text/code/data
	#    =for [format-name] [text]
	formatLines:
		patterns: [{
			# =for html [input]
			name:  "meta.embedded-html.format.line.pod"
			begin: "^((=)for)\\s+(html)(?=\\s|$)\\s*"
			end:   "^(?=\\s*$)|^(?==cut(?:\\s|$))"
			beginCaptures:
				1: name: "keyword.control.format.pod"
				2: name: "punctuation.section.format.pod"
				3: name: "entity.name.type.instance.pod"
			contentName:  "meta.output.format.pod"
			patterns: [include: "#embedHTML"]
		},{
			# =for roff [input]
			# =for man  [input]
			name:  "meta.embedded-roff.format.line.pod"
			begin: "^((=)for)\\s+(roff|man)(?=\\s|$)\\s*"
			end:   "^(?=\\s*$)|^(?==cut(?:\\s|$))"
			beginCaptures:
				1: name: "keyword.control.format.pod"
				2: name: "punctuation.section.format.pod"
				3: name: "entity.name.type.instance.pod"
			contentName:  "meta.output.format.pod"
			patterns: [include: "#embedRoff"]
		},{
			# =for latex [input]
			name:  "meta.embedded-latex.format.line.pod"
			begin: "^((=)for)\\s+(latex)(?=\\s|$)\\s*"
			end:   "^(?=\\s*$)|^(?==cut(?:\\s|$))"
			beginCaptures:
				1: name: "keyword.control.format.pod"
				2: name: "punctuation.section.format.pod"
				3: name: "entity.name.type.instance.pod"
			contentName:  "meta.output.format.pod"
			patterns: [include: "#embedLatex"]
		},{
			# =for tex [input]
			name:  "meta.embedded-tex.format.line.pod"
			begin: "^((=)for)\\s+(tex)(?=\\s|$)\\s*"
			end:   "^(?=\\s*$)|^(?==cut(?:\\s|$))"
			beginCaptures:
				1: name: "keyword.control.format.pod"
				2: name: "punctuation.section.format.pod"
				3: name: "entity.name.type.instance.pod"
			contentName: "meta.output.format.pod"
			patterns: [include: "#embedTex"]
		},{
			# =for text [input]
			name:  "meta.embedded-text.format.line.pod"
			begin: "^((=)for)\\s+(text)(?=\\s|$)\\s*"
			end:   "^(?=\\s*$)|^(?==cut(?:\\s|$))"
			beginCaptures:
				1: name: "keyword.control.format.pod"
				2: name: "punctuation.section.format.pod"
				3: name: "entity.name.type.instance.pod"
			contentName: "meta.output.format.pod"
			patterns: [include: "#embedText"]
		},{
			# =for comment {Ignored in formatted documentation}
			name:  "meta.ignored.format.line.pod"
			begin: "^((=)for)\\s+(comment)(?=\\s|$)"
			end:   "^(?=\\s*$)|^(?==cut(?:\\s|$))"
			beginCaptures:
				1: name: "keyword.control.format.pod"
				2: name: "punctuation.section.format.pod"
				3: name: "entity.name.type.instance.pod"
			contentName: "constant.other.ignored-text.pod"
		},{
			# =for :[…anything] Actual Pod code
			name:  "meta.embedded-pod.format.line.pod"
			begin: "^((=)for)\\s+((:)\\S+)(?=\\s|$)"
			end:   "^(?=\\s*$)|^(?==cut(?:\\s|$))"
			beginCaptures:
				1: name: "keyword.control.format.pod"
				2: name: "punctuation.section.format.pod"
				3: name: "entity.name.type.instance.pod"
				4: name: "punctuation.separator.colon.format.pod"
			patterns: [include: "#params"]
		},{
			# =for [unknown-format] Anything else
			name:  "meta.embedded-$3.format.line.other.pod"
			begin: "^((=)for)\\s+((?!:)\\S+)(?=\\s|$)"
			end:   "^(?=\\s*$)|^(?==cut(?:\\s|$))"
			beginCaptures:
				1: name: "keyword.control.format.begin.pod"
				2: name: "punctuation.section.format.begin.pod"
				3: name: "entity.name.type.instance.pod"
			contentName: "meta.output.format.pod"
		}]


	# Headings: =head[1…4]
	heading:
		name:  "markup.heading.$3.pod"
		begin: "^((=)head([1-4]))(?:\\s+(\\S.*))?\\s*$"
		end:   "^(?=\\s*$)|^(?==cut(?:\\s|$))"
		beginCaptures:
			1: name: "keyword.control.heading.pod"
			2: name: "punctuation.definition.heading.pod"
			4: patterns: [include: "#inlineTags"]


	# Hack to ignore text between a command paragraph and the next blank line
	ignoreUntilEmptyLine:
		begin: "\\G"
		end: "(?<=^)(?=\\s*$)"


	# Inline tags usable inside ordinary paragraphs
	inlineTags:
		patterns: [
			{include: "#italic"}
			{include: "#bold"}
			{include: "#monospace"}
			{include: "#link"}
			{include: "#entities"}
			{
				# F<filename>
				name:  "entity.name.type.instance.pod"
				begin: "F(<)"
				end:   ">"
				contentName: "markup.italic.filename.path.pod"
				beginCaptures: 1: name: "punctuation.definition.entity.begin.pod"
				endCaptures:   0: name: "punctuation.definition.entity.end.pod"
			}
			{
				# S<text> - Disable line-wrapping
				name:  "entity.name.type.instance.pod"
				begin: "S(<)"
				end:   ">"
				beginCaptures: 1: name: "punctuation.definition.entity.begin.pod"
				endCaptures:   0: name: "punctuation.definition.entity.end.pod"
				contentName: "string.quoted.double.nowrap.pod"
			}
			{
				# X<topic name> - Index entry
				name:  "entity.name.type.instance.pod"
				begin: "X(<)"
				end:   ">"
				beginCaptures: 1: name: "punctuation.definition.entity.begin.pod"
				endCaptures:   0: name: "punctuation.definition.entity.end.pod"
				contentName: "constant.other.index-entry.variable.pod"
			}
		]



	# Oblique, italic or emphasised text
	italic:
		name:  "entity.name.type.instance.pod"
		begin: "I(<)"
		end:   "(>)|^(?==)"
		beginCaptures:
			0: name: "entity.name.inline.tag.begin.italic.pod"
			1: name: "punctuation.definition.style.italic.begin.pod"
		endCaptures:
			0: name: "entity.name.inline.tag.end.italic.pod"
			1: name: "punctuation.definition.style.italic.end.pod"
		patterns: [{
			contentName: "markup.italic.pod"
			begin: "\\G(?!<)"
			end:   "(?=>)"
			patterns: [include: "#inlineTags"]
		}, include: "#italicBrackets"]
	
	
	# I<<<< … >>>>
	italicBrackets:
		begin: "\\G(<)(?=<|\\s)"
		end:   "(?<=\\s|>)(>)"
		beginCaptures:
			0: name: "entity.name.inline.tag.begin.italic.pod"
			1: name: "punctuation.definition.style.italic.begin.pod"
		endCaptures:
			0: name: "entity.name.inline.tag.end.italic.pod"
			1: name: "punctuation.definition.style.italic.end.pod"
		patterns: [{
			contentName: "markup.italic.pod"
			begin: "(?<=<)\\s"
			end: "\\s(?=>)"
			patterns: [include: "#inlineTags"]
		}, include: "#italicBrackets"]

	

	# L<Page reference or hyperlink>
	link:
		name:  "meta.link.pod"
		begin: "L(<)(\\s*)"
		end:   "(\\s*)(>)|^(?==)"
		beginCaptures:
			0: name: "entity.name.type.instance.link.pod"
			1: name: "punctuation.definition.link.angle.bracket.begin.pod"
			2: name: "invalid.illegal.syntax.leading.whitespace.pod"
		endCaptures:
			0: name: "entity.name.type.instance.link.pod"
			1: name: "invalid.illegal.syntax.trailing.whitespace.pod"
			2: name: "punctuation.definition.link.angle.bracket.end.pod"
		patterns: [
			{include: "#linkBrackets"}
			{include: "#linkContents"}
		]
	
	
	linkBrackets:
		begin: "\\G(<)(?=<|\\s)"
		end:   "(?<=\\s|>)(>)"
		beginCaptures:
			0: name: "entity.name.inline.tag.begin.link.pod"
			1: name: "punctuation.definition.style.link.begin.pod"
		endCaptures:
			0: name: "entity.name.inline.tag.end.link.pod"
			1: name: "punctuation.definition.style.link.end.pod"
		patterns: [{
			begin: "(?<=<)\\s"
			end:   "\\s(?=>)"
			patterns: [include: "#linkContents"]
		}, include: "#linkBrackets"]
	
	
	linkContents:
		patterns: [{
			# L<text|…
			name:  "meta.label.pod"
			match: '(?<=\\G|<)((?:E<[^>]*>|Z<>|[^|>]*)*)(\\|)("[^"]*")?'
			captures:
				1: name: "entity.name.tag.link.displayed-text.pod", patterns: [include: "#entities"]
				2: name: "punctuation.separator.link.pipe.pod"
				3: patterns: [include: "#linkSection"]
			},
			{include: "#entities"}
			{include: "#linkedManpage"}
			{include: "#linkedURL"}
			{include: "#linkedPerldoc"}
		]


	
	# manpage(1)
	linkedManpage:
		name: "meta.destination.manpage.unix.pod"
		match: """(?x) (?<=\\G|\\|)
			([^/()\\s]+)           # 1: Topic
			(\\()                  # 2: (
			([0-9])                # 3: Section number
			(?![0-9]) (\\w{0,3})?  # 4: Section group/suffix
			(\\))                  # 5: )
		"""
		captures:
			1: name: "entity.name.instance.manpage.topic.pod", patterns: [include: "#entities"]
			2: name: "punctuation.definition.link.round.bracket.begin.pod"
			3: name: "string.unquoted.manpage.section.number.pod"
			4: name: "string.unquoted.manpage.section.suffix.pod"
			5: name: "punctuation.definition.link.round.bracket.end.pod"
	
	
	# L<Perldoc::Name/Section>
	linkedPerldoc:
		patterns: [{
			# L<name-only>  L<text|name-only>
			name:  "meta.destination.pod"
			match: "(?<=\\G|<|\\|)((?:E<[^>]*>|Z<>|[^<|>\\s]+|\\s+[^\\s>])*)(?=\\s*>)"
			captures:
				1: patterns: [include: "#linkName"]
		},{
			# L</section-in-same-document>
			name:  "meta.destination.pod"
			begin: "(?<=\\G|\\|)/"
			end:   "(?=\\s*>)"
			beginCaptures:
				0: name: "punctuation.definition.link.slash.pod"
			patterns: [include: "#linkSection"]
		},{
			# L<name/section>  L<text|name/section>
			name:  "meta.destination.pod"
			begin: "([^|/>]+)(/)"
			end:   "(?=\\s*>)"
			beginCaptures:
				1: patterns: [include: "#linkName"]
				2: name: "punctuation.definition.link.slash.pod"
			patterns: [include: "#linkSection"]
		}]
	
	
	# Web link
	linkedURL:
		patterns: [{
			# L<http://www.perl.org/>
			name:  "meta.link.destination.$1.hyperlink.pod"
			begin: "([^:/]+):(?=//)"
			end:   "(?=\\s*>)"
			contentName: "string.unquoted.url.pod"
			beginCaptures:
				0: name: "string.unquoted.url.pod"
				1: patterns: [{
					name: "punctuation.delimiter.string.begin.url.pod"
					match: "\\+"
				}]
		},{
			# L<scheme:uri/path>
			name:  "meta.link.destination.$1.hyperlink.pod"
			begin: "([-\\w]+)(:)(?=[^:>])[^\\s>]*"
			end:   "(?=\\s*>)"
			beginCaptures:
				0: name: "entity.name.instance.topic.pod"
				1: name: "storage.type.hyperlink.schema.pod"
				2: name: "punctuation.definition.hyperlink.begin.pod"
			contentName: "markup.underline.link.hyperlink.pod"
		}]
	
	
	# Perldoc name/topic
	linkName:
		patterns: [{
			name:  "meta.topic.pod"
			begin: "(?=[^/<>]|[EZ]<)"
			end:   "(?=/|\\s*>)"
			contentName: "entity.name.instance.topic.pod"
			patterns: [{
				name: "punctuation.separator.namespace.double-colon.pod"
				match: "::"
			}, include: "#entities"]
		}, include: "#entities"]
	
	
	# Perldoc section reference
	linkSection:
		patterns: [{
			# L</"Quoted”>
			name:  "string.quoted.double.section.name.pod"
			begin: '"'
			end:   '"'
			beginCaptures: 0: name: "punctuation.definition.string.begin.pod"
			endCaptures:   0: name: "punctuation.definition.string.end.pod"
			patterns: [include: "#entities"]
		},{
			# L</Unquoted>
			name:  "string.unquoted.section.name.pod"
			begin: '(?=[^">])'
			end:   "(?=\\s*>)"
			patterns: [include: "#entities"]
		}]
	

	# List item: =item
	listItem:
		patterns: [{
			# =item 1. Numbered
			name:  "markup.list.numbered.pod"
			begin: "^((=)item)\\s+(\\d+\\.)(?=\\s|$)"
			end:   "^(?=\\s*$)|^(?==cut(?:\\s|$))"
			beginCaptures:
				1: name: "keyword.control.list.pod"
				2: name: "punctuation.definition.list.pod"
				3: name: "variable.ordered.list.pod"
			patterns: [include: "#inlineTags"]
		},{
			# =item * Bulleted
			name:  "markup.list.unnumbered.pod"
			begin: "^((=)item)\\s+(\\d+\\.)(?=\\s|$)"
			end:   "^(?=\\s*$)|^(?==cut(?:\\s|$))"
			beginCaptures:
				1: name: "keyword.control.list.pod"
				2: name: "punctuation.definition.list.pod"
				3: name: "variable.unordered.list.pod"
			patterns: [include: "#inlineTags"]
		},{
			# =item Anything else
			name:  "markup.list.other.pod"
			begin: "^((=)item)(?=\\s|$)"
			end:   "^(?=\\s*$)|^(?==cut(?:\\s|$))"
			beginCaptures:
				1: name: "keyword.control.list.pod"
				2: name: "punctuation.definition.list.pod"
			patterns: [include: "#inlineTags"]
		}]
	
	
	# C<Constant-width/preformatted text>
	monospace:
		name:  "entity.name.type.instance.pod"
		begin: "C(<)"
		end:   "(>)|^(?==)"
		beginCaptures:
			0: name: "entity.name.inline.tag.begin.raw.monospaced.pod"
			1: name: "punctuation.definition.style.raw.monospaced.begin.pod"
		endCaptures:
			0: name: "entity.name.inline.tag.end.raw.monospaced.pod"
			1: name: "punctuation.definition.style.raw.monospaced.end.pod"
		patterns: [{
			contentName: "markup.raw.monospaced.pod"
			begin: "\\G(?!<)"
			end:   "(?=>)"
			patterns: [include: "#inlineTags"]
		}, include: "#monospaceBrackets"]
	
	
	# C<<<< … >>>>
	monospaceBrackets:
		begin: "\\G(<)(?=<|\\s)"
		end:   "(?<=\\s|>)(>)"
		beginCaptures:
			0: name: "entity.name.inline.tag.begin.raw.monospaced.pod"
			1: name: "punctuation.definition.style.raw.monospaced.begin.pod"
		endCaptures:
			0: name: "entity.name.inline.tag.end.raw.monospaced.pod"
			1: name: "punctuation.definition.style.raw.monospaced.end.pod"
		patterns: [{
			contentName: "markup.raw.monospaced.pod"
			begin: "(?<=<)\\s"
			end:   "\\s(?=>)"
			patterns: [include: "#inlineTags"]
		}, include: "#monospaceBrackets"]
	
	
	# Overhanging list or indented paragraph
	#    =over [indent-level]  - Begin list
	#    =item [item-text]     - List item
	#    =back                 - End list
	overhang:
		name:  "meta.overhang.pod"
		begin: "^((=)over)(?:\\s+(\\S.*))?\\s*$"
		end:   "^((=)back)(?:\\b.*$)|^(?==cut(?:\\s|$))"
		beginCaptures:
			1: name: "keyword.control.list.begin.pod"
			2: name: "punctuation.section.list.begin.pod"
			3: name: "constant.language.numeric.indent-level.pod"
		endCaptures:
			1: name: "keyword.control.list.end.pod"
			2: name: "punctuation.section.list.end.pod"
		patterns: [include: "text.pod"]



	# Ordinary text block
	paragraph:
		name:  "markup.paragraph.pod"
		begin: "^(?=[^\\s=])|^\\s+(?=\\S)"
		end:   "^(?=\\s*$)"
		patterns: [include: "#inlineTags"]



	# Fallback highlighting for arguments to unrecognised commands
	params:
		name: "variable.other.parameter.argument.pod"
		match: "\\S+"



	# Indented text block, representing "verbatim" text (à la, Markdown)
	verbatim:
		name:  "markup.raw.code.verbatim.pod"
		begin: "^(?=[ \\t])"
		end:   "^(?=\\s*$)"
		patterns: [
			name: "punctuation.leading.whitespace.pod"
			match: "(?:^|\\G)[ \\t]+"
		]


	# Z<> - Dummy command used for "escaping" other commands
	zeroEffect:
		patterns: [{
			name: "invalid.illegal.escape.syntax.pod"
			begin: "Z(<)(?=[^>]|$)"
			end:   "(>)|$"
			beginCaptures: 1: name: "punctuation.definition.escape.begin.pod"
			endCaptures:   0: name: "punctuation.definition.escape.end.pod"
			patterns: [
				match: "\\s+"
				name: "invalid.illegal.syntax.whitespace.pod"
			]
		},{
			name:  "constant.character.escape.null.command.pod"
			match: "Z(<)(>)"
			captures:
				1: name: "punctuation.definition.escape.begin.pod"
				2: name: "punctuation.definition.escape.end.pod"
		}]


# Local Variables:
# mode: CSON
# tab-width: 4
# indent-tabs-mode: t
# End:
# vim:ts=4:noexpandtab:ft=cson:
